# CERTBOT_DOMAIN= # Provided by certbot
# CERTBOT_VALIDATION= # Provided by certbot
#
# AUTH_HOOK_CONFIG_PATH=config/lexicon.yml
# Optional proxy config gets switched on if PROXY_DEST is set
# AUTH_HOOK_PROXY_DEST=user@host.tld
# AUTH_HOOK_PROXY_PORT=1080
# AUTH_HOOK_SSH_ID=config/id_ed25518
# AUTH_HOOK_SSH_PORT=22
