# AUTH_HOOK_CLIENT_IP=my.namecheap.whitelisted.client.ip
# AUTH_HOOK_NC_USER=myNamecheapUserName
# AUTH_HOOK_NC_API_KEY=zzzzzzzzzzzzzz

# Optional proxy config gets switched on if PROXY_DEST is set
# AUTH_HOOK_PROXY_DEST=user@host.tld
# AUTH_HOOK_PROXY_PORT=1080
# AUTH_HOOK_SSH_ID=config/id_ed25518
# AUTH_HOOK_SSH_PORT=22
