# CERTBOT_DOMAIN= # Provided by certbot
# CERTBOT_VALIDATION= # Provided by certbot
#
# CONFIG_PATH=config/lexicon.yml
# Optional proxy config gets switched on if PROXY_DEST is set
# PROXY_DEST=user@host.tld
# PROXY_PORT=1080
# SSH_ID=config/id_ed25518
# SSH_PORT=22
